{{ define "header" }}

<div class="jumbotron-custom">
  <div class="container">
    <div class="logo-ctn">
      <img
        class="banner-logo"
        src="{{ "/images/bannerlogo.png" | absURL }}"
        alt="Entrepreneurial Open Source"
      />
      <a
        class="guest-btn"
        target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeM9Wh9KsvppT0IFvq5nONIFFXZOqgbNP_Pl__X-saDq4qYcQ/viewform?usp=sf_link"
      >
        <span class="dialog-box">
          <span class="dialog-arrow"></span>
          <span>Be A Guest</span>
        </span>
        
      </a>
    </div>
    <div class="header-ctn">
      <h1>
        Entrepreneurs at the <br />
        Intersection of <br />
        <span class="brand-primary"> Open Source and Business </span>
      </h1>
    </div>
  </div>
</div>

{{ end }}
