{{ define "header" }}

<div class="jumbotron-custom">
  <div class="container">
    <div class="logo-ctn">
      <img
        class="banner-logo"
        src="./images/bannerlogo.png"
        alt="Entrepreneurial Open Source"
      />
      <a
        class="guest-btn"
        target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeM9Wh9KsvppT0IFvq5nONIFFXZOqgbNP_Pl__X-saDq4qYcQ/viewform?usp=sf_link"
      >
        <img
          class="dialog-box"
          src="./images/dialogBox.svg"
          alt="Be a guest button"
        />
        <span>Be A Guest</span>
      </a>
    </div>
    <div class="header-ctn">
      <h1>Entrepreneurs at the</h1>
      <h1>intersection of</h1>
      <h1>open source and business</h1>
    </div>
  </div>
</div>

{{ end }} 
