<div class="breadcrumb-custom">
  <div class="container">
    <p class="margin-0">
      Listen:
      <i class="fa fa-spotify" aria-hidden="true"></i> <span>Spotify</span>
      <i class="fa fa-podcast" aria-hidden="true"></i> <span>Apple</span>
      <img class="fa fa-google-podcast" src="./images/google.png" /><span
        >Google</span
      >
      <i class="fa fa-youtube-play" aria-hidden="true"></i> <span>Youtube</span>
    </p>

    <p class="margin-0 social-share">
      Share:
      <img class="" src="./images/linkedinWhite.png" />
      <img class="" src="./images/facebookWhite.png" />
      <img class="" src="./images/twitterWhite.png" />
      <img class="" src="./images/emailWhite.png" />
    </p>
  </div>
</div>
