<div class="breadcrumb-custom">
  <div class="container">
    <ul class="margin-0">
      Listen:
      <li>
        <a
          href="https://open.spotify.com/show/356sdz0jPAU7F8fYFpu0OX?si=KbFjypCrSuqH-sd7MvM2Fw"
          target="_blank"
        >
          <i class="fa fa-spotify" aria-hidden="true"></i><span>Spotify</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-podcast" aria-hidden="true"></i><span>Apple</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img class="fa fa-google-podcast" src="./images/google.png" /><span
            >Google</span
          >
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-youtube-play" aria-hidden="true"></i
          ><span>Youtube</span>
        </a>
      </li>
    </ul>

    <ul class="social-share margin-0">
      Share:
      <li>
        <img src="./images/linkedinWhite.png" alt="Share to LinkedIn button" />
      </li>

      <li>
        <a
          href="#"
          onclick="
          window.open(
            'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
            'facebook-share-dialog',
            'width=626,height=436');
          return false;"
        >
          <img
            src="./images/facebookWhite.png"
            alt="Share to Facebook button"
          />
        </a>
      </li>

      <li>
        <a
          href="#"
          onclick="
          window.open(
            'https://twitter.com/intent/tweet?text=Be a guest of Entrepreneurial Open Source Podcast '+encodeURIComponent(location.href),
            'twitter-share-dialog',
            'width=626,height=436');
        return false;"
        >
          <img src="./images/twitterWhite.png" alt="Share to Twitter button" />
        </a>
      </li>

      <li>
        <a href="mailto:?subject=Join%20the%20Entrepreneurial%20Open%20Source%20Podcast">
          <img src="./images/emailWhite.png" alt="Share with email button" />
        </a>
      </li>
    </ul>
  </div>
</div>
