<section class="row description-eos">
  <div class="container first-paragraph">
    <div class="text-content">
      <h2>Entrepreneurial Open Source Podcast</h2>
      <p>
        The Entrepreneurial Open Source Podcast features successful
        entrepreneurs and innovators from around the globe, sharing practical
        lessons about how they have built their businesses through open source
        participation and leadership.
      </p>
    </div>
    <div class="sponsor-ctn">
      <div class="sponsor-eclipse">
        <p class="margin-0">Sponsored By</p>
        <div class="ef-logo-ctn">
          <img class="ef-gry-logo" src="{{ "/images/EF_GRY-OR.svg" | absURL }}"
          />
        </div>
      </div>
      <a href="https://outreach.eclipse.foundation/eospod" target="_blank">
        <button class="become-sponsor-btn">Become a Sponsor</button>
      </a>
    </div>
  </div>
</section>
