<div class="social-banner">
  <div class="container">
    <div class="social-media-options hide">
      <p class="margin-0">Listen:</p>
      <ul class="margin-0">
        <li>
          <a
            href="https://open.spotify.com/show/356sdz0jPAU7F8fYFpu0OX?si=KbFjypCrSuqH-sd7MvM2Fw"
            target="_blank"
          >
            <i class="fa fa-spotify" aria-hidden="true"></i><span>Spotify</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-podcast" aria-hidden="true"></i><span>Apple</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img class="google-podcast-img" src="{{ "/images/google.png" | absURL }}" /><span>Google</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-youtube-play" aria-hidden="true"></i
            ><span>Youtube</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="social-media-options">
      <p class="margin-0">Share:</p>
      <ul class="social-share margin-0">
        <li>
          <a
            href="#"
            onclick="
              window.open(
                'https://www.linkedin.com/sharing/share-offsite/?url='+encodeURIComponent(location.href),
                'facebook-share-dialog',
                'width=626,height=436');
            return false;"
          >
            <span class="circle-icon small-icon inverted">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              <span class="sr-only">Share to LinkedIn button</span>
            </span>
          </a>
        </li>

        <li>
          <a
            href="#"
            onclick="
              window.open(
                'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                'facebook-share-dialog',
                'width=626,height=436');
              return false;"
          >
            <span class="circle-icon small-icon inverted">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="sr-only">Share to Facebook button</span>
            </span>
          </a>
        </li>

        <li>
          <a
            href="#"
            onclick="
              window.open(
                'https://twitter.com/intent/tweet?text=Be a guest of Entrepreneurial Open Source Podcast '+encodeURIComponent(location.href),
                'twitter-share-dialog',
                'width=626,height=436');
            return false;"
          >
            <span class="circle-icon small-icon inverted">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="sr-only">Share to Twitter button</span>
            </span>
          </a>
        </li>

        <li>
          <a
            href="mailto:?subject=Join the Entrepreneurial Open Source Podcast"
          >
            <span class="circle-icon small-icon inverted">
              <i class="fa fa-envelope-o email-thick" aria-hidden="true"></i>
              <span class="sr-only">Share to email button</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>